@{
    ViewData["Title"] = "Starter Page";

}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>

<h1 class="page-header">
    Starter Page <small>page header description goes here...</small>
</h1>

<div class="list-group"></div>


<!-- with icon -->
<div class="list-group-item d-flex align-items-center">
    <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-orange text-white rounded-2 ms-n1">
        <i class="fa fa-print fa-lg"></i>
    </div>
    <div class="flex-fill ps-3 pe-3">
        <div class="fw-600">iBooks App</div>
        <div class="fs-12px text-muted">32 new download</div>
    </div>
    <div class="dropdown">
        <a href="#" data-bs-toggle="dropdown" class="text-muted"><i class="fa fa-ellipsis-h"></i></a>
        <div class="dropdown-menu dropdown-menu-right hide" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; -ms-transform: translate3d(0px, 21.3333px, 0px); -webkit-transform: translate3d(0px, 21.3333px, 0px); transform: translate3d(0px, 21.3333px, 0px);" data-popper-placement="bottom-start">
            <a href="#" class="dropdown-item">View</a>
            <a href="#" class="dropdown-item">Analytic</a>
            <a href="#" class="dropdown-item">Report</a>
        </div>
    </div>
</div>
