@page
@model HourlyRate.Areas.Identity.Pages.Account.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />