@page
@model HourlyRate.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<!-- BEGIN login -->
<div class="login">
	<!-- BEGIN login-content -->
	<div class="login-content">
    <form method="post">
			<h2>Forgot password confirmation</h2>
			<div class="text-muted mb-4">
				Please check your email to reset your password.
			</div>
			<div class="text-center text-muted">
				Already have an Admin ID? <a asp-page="./Login">Sign in</a>.
			</div>
		</form>
	</div>
	<!-- END login-content -->
</div>
<!-- END login -->
