@page
@model HourlyRate.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<!-- BEGIN login -->
<div class="login">
	<!-- BEGIN login-content -->
	<div class="login-content">
    <form method="post">
			<h2>Forgot your password?</h2>
			<div class="text-muted mb-4">
				Enter your email address.
			</div>
      <div asp-validation-summary="All" class="text-danger"></div>
			<div class="mb-3">
				<label class="form-label" asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control form-control-lg fs-15px" placeholder="username@address.com" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary btn-lg d-block w-100 fw-500 mb-3">Submit</button>
			<div class="text-center text-muted">
				Already have an Admin ID? <a asp-page="./Login">Sign in</a>.
			</div>
		</form>
	</div>
	<!-- END login-content -->
</div>
<!-- END login -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
