@page
@model HourlyRate.Areas.Identity.Pages.Account.LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
}


<!-- BEGIN login -->
<div class="login">
	<!-- BEGIN login-content -->
	<div class="login-content">
		<h1 class="text-center">@ViewData["Title"]</h1>
		<div class="text-muted text-center mb-4">
			Your login is protected with an authenticator app. Enter your authenticator code below.
		</div>
		<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
			<input asp-for="RememberMe" type="hidden" />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="mb-3">
					<label asp-for="Input.TwoFactorCode" class="form-label"></label>
					<input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
					<span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
			</div>
			<div class="mb-3">
					<div class="form-check">
							<input asp-for="Input.RememberMachine" class="form-check-input" />
							<label asp-for="Input.RememberMachine" class="form-check-label">
									@Html.DisplayNameFor(m => m.Input.RememberMachine)
							</label>
					</div>
			</div>
			<div class="mb-3">
					<button type="submit" class="btn btn-primary d-block w-100">Log in</button>
			</div>
			<p>
					Don't have access to your authenticator device? You can
					<a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
			</p>
		</form>
	</div>
	<!-- END login-content -->
</div>
<!-- END login -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
