@page
@model HourlyRate.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
}

<!-- BEGIN register -->
<div class="register">
    <!-- BEGIN register-content -->
    <div class="register-content">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1 class="text-center">Sign Up</h1>
            <p class="text-muted text-center">One Admin ID is all you need to access all the Admin services.</p>
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control form-control-lg fs-15px" placeholder="e.g JohnSmith@asdf.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control form-control-lg fs-15px" placeholder="e.g John" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control form-control-lg fs-15px" placeholder="e.g Smith" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.CompanyName" class="form-label"></label>
                <input asp-for="Input.CompanyName" class="form-control form-control-lg fs-15px" placeholder="e.g CompanyName" />
                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.CompanyDescription" class="form-label"></label>
                <input asp-for="Input.CompanyDescription" class="form-control form-control-lg fs-15px" placeholder="e.g CompanyDescription" />
                <span asp-validation-for="Input.CompanyDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.CompanyEmail" class="form-label"></label>
                <input asp-for="Input.CompanyEmail" class="form-control form-control-lg fs-15px" placeholder="e.g CompanyEmail" />
                <span asp-validation-for="Input.CompanyEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.CompanyPhoneNumber" class="form-label"></label>
                <input asp-for="Input.CompanyPhoneNumber" class="form-control form-control-lg fs-15px" placeholder="e.g CompanyPhoneNumber" />
                <span asp-validation-for="Input.CompanyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.DefaultCurrency" class="form-label"></label>
                <input asp-for="Input.DefaultCurrency" class="form-control form-control-lg fs-15px" placeholder="e.g DefaultCurrency" />
                <span asp-validation-for="Input.DefaultCurrency" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.VAT" class="form-label"></label>
                <input asp-for="Input.VAT" class="form-control form-control-lg fs-15px" placeholder="e.g VAT" />
                <span asp-validation-for="Input.VAT" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control form-control-lg fs-15px" value="" />
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg fs-15px" value="" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-lg fs-15px fw-500 d-block w-100">Sign Up</button>
            </div>
            <div class="text-muted text-center">
                Already have an Admin ID? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign In</a>
            </div>
        </form>
    </div>
    <!-- END register-content -->
</div>
<!-- END register -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
