@model HourlyRate.Areas.Admin.Models.FinancialYearsViewModel
@{
    ViewData["Title"] = "Settings";
}


<script src="~/lib/@@highlightjs/cdn-assets/highlight.js"></script>
<script src="~/js/demo/highlightjs.demo.js"></script>
<script src="~/js/demo/sidebar-scrollspy.demo.js"></script>

<link href="~/css/vendor.min.css" rel="stylesheet" />
<link href="~/css/app.min.css" rel="stylesheet" />



<div class="container">
    <div class="row justify-content-center">
        <!-- BEGIN col-10 -->
        <div class="col-xl-10">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-9 -->
                <div class="col-xl-9">
                    <form method="post" asp-action="Edit">
                        <!-- BEGIN #system -->
                        <div id="system" class="mb-5">
                            <h4><i class="far fa-hdd fa-fw"></i> System</h4>
                            <p>System storage, bandwidth and database setting</p>
                            <div class="card">
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item d-flex align-items-center">
                                        <div class="flex-fill">
                                            <div>Change active Year</div>
                                            <div class="text-gray-600">
                                                2012-2030
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @*<label asp-for="Id"></label>*@
                                            <select asp-for="Id" class="form-control">
                                                @foreach (var financialYear in Model.FinancialYears)
                                                {
                                                    <option value="@financialYear.Id">@financialYear.Year</option>
                                                }
                                            </select>
                                            <span asp-validation-for="Id" class="text-danger"></span>
                                        </div>
                                        <div>
                                            @*<a href="@Url.Action("Edit", "Settings", new { area = "Admin" } )"  class="btn btn-default w-100px" >Change</a>*@
                                            <input class="btn btn-default w-100px" type="submit" value="Change" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END row -->
        </div>
        <!-- END col-10 -->
    </div>
</div>
