@model AddCostCenterViewModel
@{
    ViewData["Title"] = "Edit CostCenter";
    //ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    //ViewData["AppWithoutHeader"] = true;
    //ViewData["AppWithoutSidebar"] = true;
    //ViewData["AppWithoutContainer"] = true;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_CostCenterPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}