@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="card-deck" style="display: flex; margin-left: -15px; margin-right: -15px">
        <div class="card w-450px" style="display: flex; margin-left: 15px; margin-right: 15px">
            <div class="text-muted fs-16px mb-2"><b>SM 102</b></div>
            <div class="card-body">
                <div class="dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="text-muted" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" style="">
                        <a href="#" class="dropdown-item">View</a>
                        <a href="#" class="dropdown-item">Analytic</a>
                        <a href="#" class="dropdown-item">Report</a>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-book fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Cost Center - General</div>
                            <div class="fs-14px text-muted">Floor space(SqM) - 297</div>
                            <div class="fs-14px text-muted">KWh - 100</div>
                            <div class="fs-14px text-muted">Annual available hours - 4840</div>
                            <div class="fs-14px text-muted">Annual chargeable hours - 3630</div>
                            <div class="fs-14px text-muted">Total power consumption (kW) - 3630</div>
                            <div class="fs-14px text-muted">Direct Staff - 4</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cog fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Direct Costs</div>
                            <div class="fs-14px text-muted">Direct wages - 141 718</div>
                            <div class="fs-14px text-muted">Direct repairs - 30 000</div>
                            <div class="fs-14px text-muted">General consumables - 95 889</div>
                            <div class="fs-14px text-muted">Direct Depreciation - 16 314</div>
                            <div class="fw-600">Total Direct Costs</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Indirect Costs</div>
                            <div class="fs-14px text-muted">Occupation costs - 49 756</div>
                            <div class="fs-14px text-muted">Power cost - 77 655</div>
                            <div class="fs-14px text-muted">Heating cost - 7213</div>
                            <div class="fw-600">Total Indirect Costs - 389 098</div>
                            <div class="fs-14px text-muted">Ration - Total Indirect / current indirect - 6,7415</div>
                            <div class="fs-14px text-muted">Water Ration - Total Indirect / current indirect - 6,7415</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Indirect Costs</div>
                            <div class="fs-14px text-muted">Water - Based on the index - 5045,20</div>
                            <div class="fs-14px text-muted">Taxes - 15 408,48</div>
                            <div class="fs-14px text-muted">Phones - 2966,86</div>
                            <div class="fs-14px text-muted">Other costs - 23 530,83</div>
                            <div class="fs-14px text-muted">Administration costs - 182 286</div>
                            <div class="fs-14px text-muted">Maintenance wages - 19 257,29</div>
                            <div class="fs-14px text-muted">Absorb depreciation costs - 7799,62</div>
                            <div class="fw-600">Total Indirect Costs - 374 594</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Total Yearly Cost - 620 078</div>
                            <div class="fw-600">Average per month - 52 423</div>
                            <div class="fw-600">Wages Average per month - 28 605,12</div>
                            <div class="fw-600">Machines Average per month - 8557,46</div>
                            <div class="fw-600">Overheads Average per month - 15 260,60</div>
                            <div class="fw-600">Total Monthly Cost - 52 423,18</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-orange text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fs-14px text-muted">Wages Average per hour - 94,56</div>
                            <div class="fs-14px text-muted">Machines Average per hour - 28,29</div>
                            <div class="fs-14px text-muted">Overheads Average per hour - 50,45</div>
                            <div class="fw-600">Total hourly cost rate - 173,3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-450px" style="display: flex; margin-left: 15px; margin-right: 15px">
            <div class="text-muted fs-16px mb-2"><b>SM 74</b></div>

            <div class="card-body">
                <div class="dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="text-muted" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" style="">
                        <a href="#" class="dropdown-item">View</a>
                        <a href="#" class="dropdown-item">Analytic</a>
                        <a href="#" class="dropdown-item">Report</a>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-book fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Cost Center - General</div>
                            <div class="fs-14px text-muted">Floor space(SqM) - 297</div>
                            <div class="fs-14px text-muted">KWh - 100</div>
                            <div class="fs-14px text-muted">Annual available hours - 4840</div>
                            <div class="fs-14px text-muted">Annual chargeable hours - 3630</div>
                            <div class="fs-14px text-muted">Total power consumption (kW) - 3630</div>
                            <div class="fs-14px text-muted">Direct Staff - 4</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cog fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Direct Costs</div>
                            <div class="fs-14px text-muted">Direct wages - 141 718</div>
                            <div class="fs-14px text-muted">Direct repairs - 30 000</div>
                            <div class="fs-14px text-muted">General consumables - 95 889</div>
                            <div class="fs-14px text-muted">Direct Depreciation - 16 314</div>
                            <div class="fw-600">Total Direct Costs</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Indirect Costs</div>
                            <div class="fs-14px text-muted">Occupation costs - 49 756</div>
                            <div class="fs-14px text-muted">Power cost - 77 655</div>
                            <div class="fs-14px text-muted">Heating cost - 7213</div>
                            <div class="fw-600">Total Indirect Costs - 389 098</div>
                            <div class="fs-14px text-muted">Ration - Total Indirect / current indirect - 6,7415</div>
                            <div class="fs-14px text-muted">Water Ration - Total Indirect / current indirect - 6,7415</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Indirect Costs</div>
                            <div class="fs-14px text-muted">Water - Based on the index - 5045,20</div>
                            <div class="fs-14px text-muted">Taxes - 15 408,48</div>
                            <div class="fs-14px text-muted">Phones - 2966,86</div>
                            <div class="fs-14px text-muted">Other costs - 23 530,83</div>
                            <div class="fs-14px text-muted">Administration costs - 182 286</div>
                            <div class="fs-14px text-muted">Maintenance wages - 19 257,29</div>
                            <div class="fs-14px text-muted">Absorb depreciation costs - 7799,62</div>
                            <div class="fw-600">Total Indirect Costs - 374 594</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Total Yearly Cost - 620 078</div>
                            <div class="fw-600">Average per month - 52 423</div>
                            <div class="fw-600">Wages Average per month - 28 605,12</div>
                            <div class="fw-600">Machines Average per month - 8557,46</div>
                            <div class="fw-600">Overheads Average per month - 15 260,60</div>
                            <div class="fw-600">Total Monthly Cost - 52 423,18</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-orange text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fs-14px text-muted">Wages Average per hour - 94,56</div>
                            <div class="fs-14px text-muted">Machines Average per hour - 28,29</div>
                            <div class="fs-14px text-muted">Overheads Average per hour - 50,45</div>
                            <div class="fw-600">Total hourly cost rate - 173,3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-450px" style="display: flex; margin-left: 15px; margin-right: 15px">
            <div class="text-muted fs-16px mb-2"><b>SM 74</b></div>

            <div class="card-body">
                <div class="dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="text-muted" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" style="">
                        <a href="#" class="dropdown-item">View</a>
                        <a href="#" class="dropdown-item">Analytic</a>
                        <a href="#" class="dropdown-item">Report</a>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-book fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Cost Center - General</div>
                            <div class="fs-14px text-muted">Floor space(SqM) - 297</div>
                            <div class="fs-14px text-muted">KWh - 100</div>
                            <div class="fs-14px text-muted">Annual available hours - 4840</div>
                            <div class="fs-14px text-muted">Annual chargeable hours - 3630</div>
                            <div class="fs-14px text-muted">Total power consumption (kW) - 3630</div>
                            <div class="fs-14px text-muted">Direct Staff - 4</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cog fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Direct Costs</div>
                            <div class="fs-14px text-muted">Direct wages - 141 718</div>
                            <div class="fs-14px text-muted">Direct repairs - 30 000</div>
                            <div class="fs-14px text-muted">General consumables - 95 889</div>
                            <div class="fs-14px text-muted">Direct Depreciation - 16 314</div>
                            <div class="fw-600">Total Direct Costs</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Indirect Costs</div>
                            <div class="fs-14px text-muted">Occupation costs - 49 756</div>
                            <div class="fs-14px text-muted">Power cost - 77 655</div>
                            <div class="fs-14px text-muted">Heating cost - 7213</div>
                            <div class="fw-600">Total Indirect Costs - 389 098</div>
                            <div class="fs-14px text-muted">Ration - Total Indirect / current indirect - 6,7415</div>
                            <div class="fs-14px text-muted">Water Ration - Total Indirect / current indirect - 6,7415</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Indirect Costs</div>
                            <div class="fs-14px text-muted">Water - Based on the index - 5045,20</div>
                            <div class="fs-14px text-muted">Taxes - 15 408,48</div>
                            <div class="fs-14px text-muted">Phones - 2966,86</div>
                            <div class="fs-14px text-muted">Other costs - 23 530,83</div>
                            <div class="fs-14px text-muted">Administration costs - 182 286</div>
                            <div class="fs-14px text-muted">Maintenance wages - 19 257,29</div>
                            <div class="fs-14px text-muted">Absorb depreciation costs - 7799,62</div>
                            <div class="fw-600">Total Indirect Costs - 374 594</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-black text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fw-600">Total Yearly Cost - 620 078</div>
                            <div class="fw-600">Average per month - 52 423</div>
                            <div class="fw-600">Wages Average per month - 28 605,12</div>
                            <div class="fw-600">Machines Average per month - 8557,46</div>
                            <div class="fw-600">Overheads Average per month - 15 260,60</div>
                            <div class="fw-600">Total Monthly Cost - 52 423,18</div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center bg-gradient-orange text-white rounded-2 ms-n1">
                            <i class="fa fa-cogs fa-lg"></i>
                        </div>
                        <div class="flex-fill ps-3 pe-3">
                            <div class="fs-14px text-muted">Wages Average per hour - 94,56</div>
                            <div class="fs-14px text-muted">Machines Average per hour - 28,29</div>
                            <div class="fs-14px text-muted">Overheads Average per hour - 50,45</div>
                            <div class="fw-600">Total hourly cost rate - 173,3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>