hr {
	&.hr-bg,
	&.hr-transparent,
	&.hr-inverse,
	&.hr-inverse-transparent {
		border: none;
		height: 1px;
	}
	&.hr-transparent {
		background-color: rgba(var(--app-component-color-rgb), .3);
	}
	&.hr-inverse {
		background-color: rgba(var(--app-component-color-rgb), .5);
	}
	&.hr-inverse-transparent {
		background-color: rgba(var(--app-component-color-rgb), .3);
	}
}